* {
    box-sizing: border-box;
    resize: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    text-align: center;
    padding: 0;
    color: black;
}

#app {
    margin-top: 60px;
    font-size: 1.5rem;
    text-align: center;
}

.pad {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px none red;
    margin: 10px auto;
    display: block;
    color: white;
    text-align: center;
    user-select: none;
}

.pad_left {
    position: absolute;
    top: 50px;
    left: -10px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100% 0 0 0;
    z-index: 0;
    transform: rotate(-45deg);
    line-height: 50px;
}

.pad_up {
    position: absolute;
    top: -10px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100% 0 0 0;
    z-index: 0;
    transform: rotate(45deg);
    line-height: 50px;
}

.pad_right {
    position: absolute;
    top: 50px;
    right: -10px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100% 0 0 0;
    z-index: 0;
    transform: rotate(135deg);
    line-height: 50px;
}

.pad_down {
    position: absolute;
    bottom: -10px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100% 0 0 0;
    z-index: 0;
    transform: rotate(225deg);
    line-height: 50px;
}

.pad_center {
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: mediumblue;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    line-height: 50px;
}

.key {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    background-color: black;
    cursor: pointer;
    color: white;
    line-height: 30px;
    font-size: 1rem;
    border-radius: 100%;
    user-select: none;
}

.media_url {
    width: 100%;
    height: 50px;
    border: 1px solid darkgray;
    padding: 10px;
}

.text {
    width: 100%;
    height: 50px;
    border: 1px solid darkgray;
    padding: 10px;
}

.toast {
    display: block;
    max-height: 50px;
    overflow: auto;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid darkgray;
    padding: 10px 0;
    text-align: center;
    color: coral;
    width: 100%;
    font-size: 2rem;
    z-index: 3;
}

.text_left {
    float: left;
    width: 90%;
    margin-bottom: 10px;
}

.btn_right {
    float: right;
    width: 10%;
    height: 50px;
}

.btn_right:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    float: none;
}

.file_input {
    height: 50px;
}

.media_list {
    clear: both;
    text-align: left;
}

.to_top {
    position: fixed;
    bottom: 10px;
    right: 0;
    opacity: 0.7;
    background-color: black;
    color: white;
    z-index: 1;
    border-radius: 100%;
    font-size: 1rem;
    padding: 5px;
}

.filter {
    width: 100%;
    text-align: center;
    padding: 5px;
}

li.url {
    padding: 5px 0;
}

form {
    display: block;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;
    opacity: 0.7;
}


.mask .loader {
    width: 100px;
    height: 101px;
    border: 8px solid;
    border-top-color: hsl(154, 100%, 31%);
    border-left-color: hsl(216, 87%, 52%);
    border-bottom-color: hsl(8, 66%, 50%);
    border-right-color: hsl(42, 100%, 51%);
    border-radius: 50%;
    transform: rotate(45deg);
    margin: 200px auto;
}

.mask .loader p {
    display: inline-block;
    width: 107px;
    height: 107px;
    /* The background is used to specify the border background */
    background: linear-gradient(90deg, hsla(212, 67%, 36%, 0) 0%,
    hsla(207, 69%, 51%, 0) 76%,
    hsla(0, 0%, 100%, 1) 85%,
    hsla(0, 0%, 100%, 1) 100%); /* W3C */
    /* Background origin is the padding box by default.
    Override to make the background cover the border as well. */
    -moz-background-origin: border;
    background-origin: border-box;
    /* A transparent border determines the width */
    border: 6px solid transparent;
    border-radius: 50%;
    box-shadow: inset -999px 0 0 #fff; /* The background color */
    transform: translate(-8px, 55px);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: translate(-9px, -25px) rotate(0deg);
    }
    100% {
        transform: translate(-9px, -25px) rotate(360deg);
    }
}